.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
}

.header_link:link,
.header_link:visited {
  display: inline-block;

  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;

  transition: all 0.3s;
}

.header_link:hover,
.header_link:active {
  color: #8f1616;
}

.logout_button {
  width: 100px;
  height: 40px;
  background-color: #8f1616;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 20px;

  transition: all 0.3s;
  cursor: pointer;
}

.logout_button:hover {
  background-color: black;
}
